force-app/main/default/flows/Screenflow_QCFailLog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RunQCFailApex</name>
        <label>RunQCFailApex</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <actionName>QCFailFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdatePrintQty</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>QCFailLogRecords.Comment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestquantity</name>
            <value>
                <elementReference>Request_Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>retailerCode</name>
            <value>
                <elementReference>GetLabelLineDetail.MG_Line_ID__r.Sales_Order__r.Retailer_Code1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selecteditemid</name>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SerialNum</name>
            <value>
                <elementReference>GetLabelLineDetail.Start_Num__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QCFailFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RunQCFailResendSerialNumbFlow</name>
        <label>RunQCFailResendSerialNumbFlow</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <actionName>QCFailResendSerialNumbFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>QcFailSerialNum</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ean14</name>
            <value>
                <elementReference>GetLabelLineDetail.Barcode__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderCode</name>
            <value>
                <elementReference>GetLabelLineDetail.MG_Line_ID__r.Sales_Order__r.Order_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestquantity</name>
            <value>
                <elementReference>Request_Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selecteditemid</name>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QCFailResendSerialNumbFlow</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>StartNumVal</assignToReference>
            <name>newSerialNumb</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RunQCFailResendSerialNumbForNonDecFlow</name>
        <label>RunQCFailResendSerialNumbForNonDecFlow</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>QCFailResendSerialNumbForNonDecFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>QcFailNonDecathlonSerialNum</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ean14</name>
            <value>
                <elementReference>GetLabelLineDetail.Barcode__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderCode</name>
            <value>
                <elementReference>GetLabelLineDetail.MG_Line_ID__r.Sales_Order__r.Order_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestquantity</name>
            <value>
                <elementReference>Request_Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>retailerCode</name>
            <value>
                <elementReference>GetLabelLineDetail.MG_Line_ID__r.Sales_Order__r.Retailer_Code1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selecteditemid</name>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QCFailResendSerialNumbForNonDecFlow</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>StartNumVal</assignToReference>
            <name>newSerialNumb</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Parent_RecordID</name>
        <label>Assign Parent RecordID</label>
        <locationX>270</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>GetLabelLineDetail.Parent_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_CheckBox_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewLabelRequestLine</name>
        <label>AssignNewLabelRequestLine</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>GetLabelLineDetail.NL_Line_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLabelLineDetail.Start_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartNumVal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLabelLineDetail.Print_Quantity_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_requestquantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_ID_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignScreenFlowVar</name>
        <label>AssignScreenFlowVar</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>InputComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRequestQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RetailerCode</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Parent_ID_check</name>
        <label>Parent ID check</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Update_Failed_Quantities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLabelLineDetail.Parent_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_RecordID</targetReference>
            </connector>
            <label>Parent ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>QcFailNonDecathlonSerialNum</name>
        <label>QcFailNonDecathlonSerialNum</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_QC_Fail_Log_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QcFailSerialNumberForNonDecathlon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartNumVal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NonDecathlonSerialNumber</targetReference>
            </connector>
            <label>QcFailSerialNumberForNonDecathlon</label>
        </rules>
    </decisions>
    <decisions>
        <name>QcFailSerialNum</name>
        <label>QcFailSerialNum</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_QC_Fail_Log_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QcFailSerialNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartNumVal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SerialNum</targetReference>
            </connector>
            <label>QcFailSerialNumber</label>
        </rules>
    </decisions>
    <decisions>
        <name>RetailerCode</name>
        <label>RetailerCode</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>RunQCFailResendSerialNumbFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OtherThanDecathlon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLabelLineDetail.Retailer_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Decathlon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunQCFailResendSerialNumbForNonDecFlow</targetReference>
            </connector>
            <label>OtherThanDecathlon</label>
        </rules>
    </decisions>
    <description>mapped out received from apex class to StartNumVal</description>
    <environments>Default</environments>
    <formulas>
        <description>increment of 1 to  Total_Reprint_Version__c in parent line</description>
        <name>Add_To_Reprint</name>
        <dataType>Number</dataType>
        <expression>IF(
    ISBLANK({!GetLabelLineDetail.Parent_Line__c}),
    0,  
    {!GetLabelLineDetail.Parent_Line__r.Total_Reprint_Version__c} + 1  
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Failed_Quantity</name>
        <dataType>Number</dataType>
        <expression>VALUE({!GetLabelLineDetail.Order_Quantity__c}) - VALUE({!GetLabelLineDetail.Print_Quantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_requestquantity</name>
        <dataType>Number</dataType>
        <expression>VALUE({!RequestQtyFormula})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PrintQty_Formula</name>
        <dataType>Number</dataType>
        <expression>{!PrintQtyFormula1}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Comma removal from Print QTY</description>
        <name>PrintQtyFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!GetLabelLineDetail.Print_Quantity__c}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>PrintQtyFormula1</name>
        <dataType>Number</dataType>
        <expression>{!GetLabelLineDetail.Print_Quantity_Num__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QCPassQty</name>
        <dataType>Number</dataType>
        <expression>{!PrintQty_Formula}-{!Formula_requestquantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Remove Comma</description>
        <name>RequestQtyFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!InputRequestQty}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Screenflow_QCFailLog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow_QCFailLog</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_QC_Fail_Log_Records</name>
        <label>Create QC Fail Log Records</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>OutputCreatedQCFailLogID</assignRecordIdToReference>
        <connector>
            <targetReference>RunQCFailApex</targetReference>
        </connector>
        <inputAssignments>
            <field>API_Status__c</field>
            <value>
                <stringValue>Resend</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>InputComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LabelPrinter_Request_Line__c</field>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Serial_Number__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Start_Num__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Quantity__c</field>
            <value>
                <elementReference>InputRequestQty</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Fail_Log__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateFailLineRequestLine</name>
        <label>CreateFailLineRequestLine</label>
        <locationX>402</locationX>
        <locationY>2006</locationY>
        <assignRecordIdToReference>OutputCreatedFailRRequestLine</assignRecordIdToReference>
        <connector>
            <targetReference>NLN_Status_update_as_Open</targetReference>
        </connector>
        <inputAssignments>
            <field>Barcode__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Barcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC__c</field>
            <value>
                <elementReference>GetLabelLineDetail.CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filter__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Header__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Header__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_ID__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Item_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_description__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Item_description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MG_Line_ID__c</field>
            <value>
                <elementReference>GetLabelLineDetail.MG_Line_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MG_Line_Number__c</field>
            <value>
                <elementReference>GetLabelLineDetail.MG_Line_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MG_Line_Status__c</field>
            <value>
                <elementReference>GetLabelLineDetail.MG_Line_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_QC_Fail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Line_Status__c</field>
            <value>
                <stringValue>QC Reprint</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NiceLabel_Request__c</field>
            <value>
                <elementReference>GetLabelLineDetail.NiceLabel_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Quantity_Num__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Print_Quantity_Num__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Line__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Parent_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partition__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Partition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Quantity_Num__c</field>
            <value>
                <elementReference>Formula_requestquantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Printer_Status__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Printer_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Product_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Required__c</field>
            <value>
                <elementReference>GetLabelLineDetail.QC_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reprint_Version__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Parent_Line__r.Total_Reprint_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>GetLabelLineDetail.SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Num__c</field>
            <value>
                <elementReference>StartNumVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Serial_Log_Batch__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Style__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Style__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_ID__c</field>
            <value>
                <elementReference>GetLabelLineDetail.Template_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>NiceLabel_Request_Line__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetLabelLineDetail</name>
        <label>GetLabelLineDetail</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ask_Request_Qty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NiceLabel_Request_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>NLN_Status_update_as_Open</name>
        <label>NLN Status update as Open</label>
        <locationX>402</locationX>
        <locationY>2114</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLabelLineDetail.NiceLabel_Request__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MG_Order_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>NiceLabel_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Failed_Quantities</name>
        <label>Update Failed Quantities</label>
        <locationX>534</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>updateNewFailed_Quantitys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLabelLineDetail.Parent_Line__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Reprint_Version__c</field>
            <value>
                <elementReference>Add_To_Reprint</elementReference>
            </value>
        </inputAssignments>
        <object>NiceLabel_Request_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_CheckBox_Value</name>
        <label>Update Parent CheckBox Value</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>CreateFailLineRequestLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLabelLineDetail.Parent_Line__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreatedChilde__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failed_Quantities__c</field>
            <value>
                <elementReference>Formula_requestquantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Reprint_Version__c</field>
            <value>
                <elementReference>Add_To_Reprint</elementReference>
            </value>
        </inputAssignments>
        <object>NiceLabel_Request_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewFailed_Quantitys</name>
        <label>updateNewFailed Quantitys</label>
        <locationX>534</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>CreateFailLineRequestLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLabelLineDetail.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Failed_Quantities__c</field>
            <value>
                <elementReference>Formula_requestquantity</elementReference>
            </value>
        </inputAssignments>
        <object>NiceLabel_Request_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrintQty</name>
        <label>UpdatePrintQty</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>AssignNewLabelRequestLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Azure_File_Uploaded_Line__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Line_Status__c</field>
            <value>
                <stringValue>Order Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Quantity_Num__c</field>
            <value>
                <elementReference>QCPassQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Result__c</field>
            <value>
                <stringValue>QC Failed</stringValue>
            </value>
        </inputAssignments>
        <object>NiceLabel_Request_Line__c</object>
    </recordUpdates>
    <screens>
        <name>Ask_Request_Qty</name>
        <label>Ask Request Qty</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignScreenFlowVar</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Please input the request quantity, system will generate new serial number and export CSV file.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Print Quantity: {!GetLabelLineDetail.Print_Quantity_Num__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Request_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Request Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Request Quantity must be positive integer and cannot greater than Print Quantity.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Request_Quantity}&gt;0, IF( {!Request_Quantity}&lt;={!PrintQty_Formula},TRUE,FALSE),FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comment</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NonDecathlonSerialNumber</name>
        <label>NonDecathlonSerialNumber</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StartSerialNonDec</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(192, 18, 18);&quot;&gt;Serial Number Not Generated.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(192, 18, 18);&quot;&gt;Check after sometime or Contact System Admin&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SerialNum</name>
        <label>SerialNum</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SerialNumber</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(192, 18, 18);&quot;&gt;Serial Number Not Generated.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(192, 18, 18);&quot;&gt;Check after sometime or Contact System Admin&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLabelLineDetail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRequestQty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewFailReuqestLineRecordsValue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NiceLabel_Request_Line__c</objectType>
    </variables>
    <variables>
        <name>orderToCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputCreatedFailRRequestLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputCreatedQCFailLogID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrintJobcompanyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>printJobDecathlonRetailer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrintJobserialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrintJobValueOfPrinter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QCFailLogRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Fail_Log__c</objectType>
    </variables>
    <variables>
        <name>StartNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2501.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StartNumVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
